{{!< layout}}
<div class="zbui-group">
    <div class="zbui-item">
        <h3>Here's your config page. Now get to work!</h3>
    </div>
    <div style="height:200px;">Team Id = {{team_id}} Team Name = {{team_name}}</div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div style="height:200px;">Hagamos esto un poco más largo a ver como se muestra</div>
    <div style="text-align: center;">
        <a href="#" onclick="closeModal()">Configuration complete</a>
    </div>
</div>
